$hexagon_first-color:#331010;
$hexagon_second_color:#551010;
$hexagon_third_color:#771010;
$hexagon_forth_color:#882222;
$hexagon_fifth_color:#994444;

*{
    margin: 0;
}

.container{
    height: 70vh;
    width: 100%;
}

.block{
    height: 100%;
    position: relative;
}

.hexagons{
    position: absolute;
    left: 20%;
    top: 60%;
    border-bottom: 50px solid $hexagon_forth_color;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 50px;
    transform: rotate(270deg);
    &_2{
        margin-left: 102px;
        border-bottom-color: $hexagon_third_color;
        &_1{
            margin-top: -78px;
            margin-left: 51px;
        }
        &_2{
            margin-top: 78px;
            margin-left: 153px;
        }
        &_3{
            margin-top: 156px;
            margin-left: 612px;
        }
        &_4{
            margin-top: -156px;
            margin-left: 0;
        }
    }
    &_3{
        margin-left: 204px;
        border-bottom-color: $hexagon_second_color;
        &_1{
            margin-top: -78px;
            margin-left: 153px;
        }
        &_2{
            margin-top: 78px;
            margin-left: 255px;
        }
        &_3{
            margin-top: 156px;
            margin-left: 510px;
        }
        &_4{
            margin-top: -156px;
            margin-left: 102px;
        }
    }
    &_4{
        margin-left: 306px;
        border-bottom-color: $hexagon_first_color;
        &_1{
            margin-top: -78px;
            margin-left: 255px;
        }
        &_2{
            margin-top: 78px;
            margin-left: 357px;
        }
    }
    &_5{
        margin-left: 408px;
        border-bottom-color: $hexagon_second_color;
        &_1{
            margin-top: -78px;
            margin-left: 357px;
        }
        &_2{
            margin-top: 78px;
            margin-left: 459px;
        }
    }
    &_6{
        margin-left: 510px;
        border-bottom-color: $hexagon_third_color;
        &_2{
            margin-top: 78px;
            margin-left: 561px;
        }
    }
    &_7{
        margin-left: 612px;
        border-bottom-color: $hexagon_forth_color;
    }
}

.hexagons::after{
    content: "";
    margin: 49.9px 0 0 -50px;
    position: absolute;
    border-top: 50px solid $hexagon_forth_color;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 50px;
    transform: rotate(360deg);
    left: 50%;
    top: 50%;
}

.hexagons_2::after{
    content:"";
    border-top-color: $hexagon_third_color;
}

.hexagons_3::after{
    content:"";
    border-top-color: $hexagon_second_color;
}

.hexagons_4::after{
    content:"";
    border-top-color: $hexagon_first_color;
}

.hexagons_5::after{
    content:"";
    border-top-color: $hexagon_second_color;
}

.hexagons_6::after{
    content:"";
    border-top-color: $hexagon_third_color;
}

.hexagons_7::after{
    content:"";
    border-top-color: $hexagon_forth_color;
}
